<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        <% unless user.name == current_user.name %>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
        </span>
        <span class='friend-invite-link'>

      <% unless @friends.any? {|x| (x.friend_id == user.id) || (x.user_id == user.id) }  %>

        <%= form_with model: @friendship, url: friend_request_path do |f| %>
          <%= f.hidden_field :friend_id, :value => user.id %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :status, :value => 'pending' %>
          <%= f.submit  'Request'%>
        <% end %>

        <% else  %>
        <% friend = Friendship.find_by(friend_id: current_user.id, user_id: user.id) %>
        <%# friend = @friends.select{|x| x.friend_id == current_user.id} %>
        <% if friend %>
        <%# user.status %>

        <%= form_with model: friend, url: accept_request_path do |f| %>
          <%= f.hidden_field :id, :value => friend.id %>
          <%# f.hidden_field :friend_id, :value => current_user.id %>
          <%# f.hidden_field :user_id, :value => user.id %>
          <%= f.hidden_field :status, :value => 'confirmed' %>
          <%# f.submit "Pending" %>
          <%= f.submit  friend.status %>

        <% end %>
        <% else %>

        <% friend = Friendship.find_by(friend_id: user.id, user_id: current_user.id) %>
      <% if friend %>
      <%= form_with model: friend, url: accept_request_path do |f| %>
      <%= f.submit  friend.status %>
          <%#  "Pending" %>
        <% end %>
      <% end %>
      <% end %>
    <% end %>

      <% end %>
        </span>
      </li>
    <% end %>


    <% @friend_requests.each do |f| %>
      <%= f.user.name %>
        <%= f.status %>
      <br>
    <% end %>

  <%# @users.each do |x| %>
    <%# if x.id != current_user.id %>
      <%# if @friends.empty? %>
        <%# x.name %>
      <%# else %>
        <%# @friends.each do |y| %>
          <%# unless Friendship.find_by(friend_id: x.id) %>
            <%# x.name %>
          <%# end %>
        <%# end %>
      <%# end %>
    <%# end %>
  <%# end %>

  </ul>
</section>
